In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Read Allergy file
file = 'C:/Users/tearo/Desktop/csci 5707 project/allergy.csv'

In [3]:

df_allergy = pd.read_csv(file, encoding="UTF8")

In [4]:

df_allergy.head()

,name,ingredientid,type,foodgroup,origin
0,NaN,19,Oil,Oil,Plant origin
1,Sugar Allergy / Intolerance,97,Vegetable,Sugar source,Plant origin
2,Honey Allergy,67,Bee product,Bee product,Animal origin
3,Rice Allergy,151,Cereal grain and pulse,Cereal grain,Plant origin
4,Gluten Allergy,165,Cereal grain and pulse,Cereal grain,Plant origin

In [5]:
# Verify dropped rows
df_allergy.count()

name            5
ingredientid    6
type            6
foodgroup       6
origin          6
dtype: int64

In [6]:
# Drop all rows with missing information
df_allergy = df_allergy.dropna(how='any')

In [7]:
# Verify dropped rows
df_allergy.count()

name            5
ingredientid    5
type            5
foodgroup       5
origin          5
dtype: int64

In [8]:
# Read cereal file
file = 'C:/Users/tearo/Desktop/csci 5707 project/cereal.csv'

In [9]:
df_cereal = pd.read_csv(file, encoding="UTF8")

In [10]:
df_cereal.head()

,upc,name,description,manufacturerid
0,16000275393,Oatmeal Raisin Crisp,GMILLS OATMEAL CRISP FLAKES CLUSTER CEREAL HEA...,1
1,38000016219,Special K,Kellogg's Special K Cereal 18oz,2
2,38000019128,Product 19,KELLOGG PRODUCT 19 12OZ,2
3,38000596636,Raisin Bran,Kellogg's Raisin Bran Cereal 18.7oz,2
4,38000014116,All-Bran,Kellogg's All Bran Cereal Original 18.3oz,2

In [11]:
# Verify dropped rows
df_cereal.count()

upc               51
name              51
description       51
manufacturerid    51
dtype: int64

In [12]:
# Drop all rows with missing information
df_cereal = df_cereal.dropna(how='any')

In [13]:
# Verify dropped rows
df_cereal.count()

upc               51
name              51
description       51
manufacturerid    51
dtype: int64

In [14]:
# Read cerealingredient file
file = 'C:/Users/tearo/Desktop/csci 5707 project/cerealingredient.csv'

In [15]:
df_cerealingredient = pd.read_csv(file, encoding="UTF8")

In [16]:
df_cerealingredient.head()

           upc  ingredientid  rank
0  16000275393             2     3
1  16000275393             8    20
2  16000275393            18     5
3  16000275393            21     9
4  16000275393            23    13

In [17]:
# Verify dropped rows
df_cerealingredient.count()

upc             874
ingredientid    874
rank            874
dtype: int64

In [18]:
# Drop all rows with missing information
df_cerealingredient = df_cerealingredient.dropna(how='any')

In [19]:
# Verify dropped rows
df_cerealingredient.count()

upc             874
ingredientid    874
rank            874
dtype: int64

In [20]:
# Read cerealnutrient file
file = 'C:/Users/tearo/Desktop/csci 5707 project/cerealnutrient.csv'

In [21]:
df_cerealnutrient = pd.read_csv(file, encoding="UTF8")

In [22]:
df_cerealnutrient.head()

           upc  nutrientid   amount
0  16000275393           1    2.500
1  16000275393           2    0.502
2  16000275393           3    0.000
3  16000275393           4    0.000
4  16000275393           5  120.000

In [23]:
# Verify dropped rows
df_cerealnutrient.count()

upc           684
nutrientid    684
amount        684
dtype: int64

In [24]:
# Drop all rows with missing information
df_cerealnutrient = df_cerealnutrient.dropna(how='any')

In [25]:
# Verify dropped rows
df_cerealnutrient.count()

upc           684
nutrientid    684
amount        684
dtype: int64

In [26]:
# Read ingredient file
file = 'C:/Users/tearo/Desktop/csci 5707 project/ingredient.csv'

In [27]:
df_ingredient = pd.read_csv(file, encoding="UTF8")

In [28]:
df_ingredient.head()

   ingredientid                                               name
0             1                                         WHEAT BRAN
1             2                                              SUGAR
2             3                                        MALT FLAVOR
3             4  CONTAINS 2% OR LESS OF SALT.VITAMINS AND MINER...
4             5     VITAMIN C (SODIUM ASCORBATE AND ASCORBIC ACID)

In [29]:
# Verify dropped rows
df_ingredient.count()

ingredientid    244
name            244
dtype: int64

In [30]:
# Drop all rows with missing information
df_ingredient = df_ingredient.dropna(how='any')

In [31]:
# Verify dropped rows
df_ingredient.count()

ingredientid    244
name            244
dtype: int64

In [32]:
# Read manufacturer file
file = 'C:/Users/tearo/Desktop/csci 5707 project/manufacturer.csv'

In [33]:
df_manufacturer = pd.read_csv(file, encoding="UTF8")

In [34]:
df_manufacturer.head()

   id                       name
0   1        General Mills, Inc.
1   2         Kellogg Company US
2   3  Post Consumer Brands, LLC
3   4               Pepsico Inc.
4   5  Kraft Heinz Foods Company

In [35]:
# Verify dropped rows
df_manufacturer.count()

id      10
name    10
dtype: int64

In [36]:
# Drop all rows with missing information
df_manufacturer = df_manufacturer.dropna(how='any')

In [37]:
# Verify dropped rows
df_manufacturer.count()

id      10
name    10
dtype: int64

In [38]:
# Read manufacturer file
file = 'C:/Users/tearo/Desktop/csci 5707 project/nutrient.csv'

In [39]:
df_nutrient = pd.read_csv(file, encoding="UTF8")

In [40]:
df_nutrient.head()

   id          name
0   1           fat
1   2  saturatedFat
2   3      transFat
3   4   cholesterol
4   5        sodium

In [41]:
# Verify dropped rows
df_nutrient.count()

id      14
name    14
dtype: int64

In [42]:
# Drop all rows with missing information
df_nutrient = df_nutrient.dropna(how='any')

In [43]:
# Verify dropped rows
df_nutrient.count()

id      14
name    14
dtype: int64

In [44]:
# Merge ingredient and cerealingredient
merge_df_1 = pd.merge(df_ingredient, df_cerealingredient, on="ingredientid", how="left")
merge_df_1

,ingredientid,name,upc,rank
0,1,WHEAT BRAN,38000596636,3
1,1,WHEAT BRAN,38000014116,1
2,1,WHEAT BRAN,884912113139,2
3,1,WHEAT BRAN,38000045301,3
4,2,SUGAR,16000275393,3
...,...,...,...,...
869,240,MONOGLYCERIDES,16000175815,5
870,241,ANNATTO EXTRACT COLOR. BHT ADDED TO PRESERVE F...,16000175815,6
871,242,MALIC ACID.VITAMINS AND MINERALS: CALCIUM CARB...,16000503670,13
872,243,BAKING SODA. VITAMIN E (MIXED TOCOPHEROLS) ADD...,16000275492,5
873,244,CORN SYRUP. VITAMIN E (MIXED TOCOPHEROLS) ADDE...,16000275652,4

In [45]:
# Merge creal, ingredient, cerealingredient
merge_df_2 = pd.merge(merge_df_1 , df_cereal, on="upc", how="left")
merge_df_2

,ingredientid,name_x,upc,rank,name_y,description,manufacturerid
0,1,WHEAT BRAN,38000596636,3,Raisin Bran,Kellogg's Raisin Bran Cereal 18.7oz,2
1,1,WHEAT BRAN,38000014116,1,All-Bran,Kellogg's All Bran Cereal Original 18.3oz,2
2,1,WHEAT BRAN,884912113139,2,Bran Flakes,"WHOLE GRAIN WHEAT AND BRAN CEREAL, WHOLE GRAIN...",3
3,1,WHEAT BRAN,38000045301,3,Cracklin' Oat Bran,"CRUNCHY, SWEET, OVEN-BAKED OAT CEREAL",6
4,2,SUGAR,16000275393,3,Oatmeal Raisin Crisp,GMILLS OATMEAL CRISP FLAKES CLUSTER CEREAL HEA...,1
...,...,...,...,...,...,...,...
869,240,MONOGLYCERIDES,16000175815,5,Total Whole Grain,"GENERAL MILLS, TOTAL, CRUNCHY WHOLE GRAIN WHEA...",1
870,241,ANNATTO EXTRACT COLOR. BHT ADDED TO PRESERVE F...,16000175815,6,Total Whole Grain,"GENERAL MILLS, TOTAL, CRUNCHY WHOLE GRAIN WHEA...",1
871,242,MALIC ACID.VITAMINS AND MINERALS: CALCIUM CARB...,16000503670,13,Trix,Trix Cereal,1
872,243,BAKING SODA. VITAMIN E (MIXED TOCOPHEROLS) ADD...,16000275492,5,Wheat Chex,"OVEN TOASTED WHEAT CEREAL, WHEAT",1
873,244,CORN SYRUP. VITAMIN E (MIXED TOCOPHEROLS) ADDE...,16000275652,4,Wheaties,"TOASTED 100% WHOLE WHEAT FLAKES, TOASTED",1

In [46]:
# Rename columns so that they are differentiated

merge_df_2 = merge_df_2.rename(columns={ "name_x": "ingredientname",  "name_y": "cerealtname" })

merge_df_2.head()

,ingredientid,ingredientname,upc,rank,cerealtname,description,manufacturerid
0,1,WHEAT BRAN,38000596636,3,Raisin Bran,Kellogg's Raisin Bran Cereal 18.7oz,2
1,1,WHEAT BRAN,38000014116,1,All-Bran,Kellogg's All Bran Cereal Original 18.3oz,2
2,1,WHEAT BRAN,884912113139,2,Bran Flakes,"WHOLE GRAIN WHEAT AND BRAN CEREAL, WHOLE GRAIN...",3
3,1,WHEAT BRAN,38000045301,3,Cracklin' Oat Bran,"CRUNCHY, SWEET, OVEN-BAKED OAT CEREAL",6
4,2,SUGAR,16000275393,3,Oatmeal Raisin Crisp,GMILLS OATMEAL CRISP FLAKES CLUSTER CEREAL HEA...,1

In [47]:
# rename id to nutrientid in nutrient, so it can be merged with cerealnutrient
df_nutrient = df_nutrient.rename(columns={"id": "nutrientid", "name": "nutrientname"})
df_nutrient

    nutrientid   nutrientname
0            1            fat
1            2   saturatedFat
2            3       transFat
3            4    cholesterol
4            5         sodium
5            6  carbohydrates
6            7          fiber
7            8         sugars
8            9        protein
9           10        calcium
10          11           iron
11          12      potassium
12          13       calories
13          14     addedSugar

In [48]:
# Merge nutrient, crealnutrient
merge_df_3 = pd.merge(df_nutrient, df_cerealnutrient, on="nutrientid", how="left")
merge_df_3

     nutrientid nutrientname          upc  amount
0             1          fat  16000275393   2.500
1             1          fat  38000016219   0.558
2             1          fat  38000019128   0.390
3             1          fat  38000596636   1.120
4             1          fat  38000014116   1.020
..          ...          ...          ...     ...
679          14   addedSugar  16000275492  18.200
680          14   addedSugar  16000124998  52.500
681          14   addedSugar  16000275652  22.300
682          14   addedSugar  16000141551  32.400
683          14   addedSugar  16000116597  19.700

[684 rows x 4 columns]

In [49]:
# Merge nutrient, crealnutrient, creal, ingredient, cerealingredient
merge_df_4 = pd.merge(merge_df_2, merge_df_3, on="upc", how="left")
merge_df_4

,ingredientid,ingredientname,upc,rank,cerealtname,description,manufacturerid,nutrientid,nutrientname,amount
0,1,WHEAT BRAN,38000596636,3,Raisin Bran,Kellogg's Raisin Bran Cereal 18.7oz,2,1,fat,1.120
1,1,WHEAT BRAN,38000596636,3,Raisin Bran,Kellogg's Raisin Bran Cereal 18.7oz,2,2,saturatedFat,0.236
2,1,WHEAT BRAN,38000596636,3,Raisin Bran,Kellogg's Raisin Bran Cereal 18.7oz,2,3,transFat,0.000
3,1,WHEAT BRAN,38000596636,3,Raisin Bran,Kellogg's Raisin Bran Cereal 18.7oz,2,4,cholesterol,0.000
4,1,WHEAT BRAN,38000596636,3,Raisin Bran,Kellogg's Raisin Bran Cereal 18.7oz,2,5,sodium,211.000
...,...,...,...,...,...,...,...,...,...,...
11690,244,CORN SYRUP. VITAMIN E (MIXED TOCOPHEROLS) ADDE...,16000275652,4,Wheaties,"TOASTED 100% WHOLE WHEAT FLAKES, TOASTED",1,10,calcium,20.000
11691,244,CORN SYRUP. VITAMIN E (MIXED TOCOPHEROLS) ADDE...,16000275652,4,Wheaties,"TOASTED 100% WHOLE WHEAT FLAKES, TOASTED",1,11,iron,8.100
11692,244,CORN SYRUP. VITAMIN E (MIXED TOCOPHEROLS) ADDE...,16000275652,4,Wheaties,"TOASTED 100% WHOLE WHEAT FLAKES, TOASTED",1,12,potassium,89.900
11693,244,CORN SYRUP. VITAMIN E (MIXED TOCOPHEROLS) ADDE...,16000275652,4,Wheaties,"TOASTED 100% WHOLE WHEAT FLAKES, TOASTED",1,13,calories,99.900
11694,244,CORN SYRUP. VITAMIN E (MIXED TOCOPHEROLS) ADDE...,16000275652,4,Wheaties,"TOASTED 100% WHOLE WHEAT FLAKES, TOASTED",1,14,addedSugar,22.300

In [50]:
# rename id to manufacturerid in manufacturer , so it can be merged with merge_df_4
df_manufacturer = df_manufacturer.rename(columns={"id": "manufacturerid", "name": "manufacturername"})
df_manufacturer

   manufacturerid             manufacturername
0               1          General Mills, Inc.
1               2           Kellogg Company US
2               3    Post Consumer Brands, LLC
3               4                 Pepsico Inc.
4               5    Kraft Heinz Foods Company
5               6         The Kellogg Company
6               7  Brooke's Seasoning Salt Co.
7               8      The Quaker Oats Company
8               9         Mitlitsky's Egg Farm
9              10         Conagra Brands, Inc.

In [51]:
# Merge manufacturer, nutrient, crealnutrient, creal, ingredient, cerealingredient
merge_df_5 = pd.merge(df_manufacturer, merge_df_4, on="manufacturerid", how="left")
merge_df_5

,manufacturerid,manufacturername,ingredientid,ingredientname,upc,rank,cerealtname,description,nutrientid,nutrientname,amount
0,1,"General Mills, Inc.",2,SUGAR,16000275393,3,Oatmeal Raisin Crisp,GMILLS OATMEAL CRISP FLAKES CLUSTER CEREAL HEA...,1,fat,2.500
1,1,"General Mills, Inc.",2,SUGAR,16000275393,3,Oatmeal Raisin Crisp,GMILLS OATMEAL CRISP FLAKES CLUSTER CEREAL HEA...,2,saturatedFat,0.502
2,1,"General Mills, Inc.",2,SUGAR,16000275393,3,Oatmeal Raisin Crisp,GMILLS OATMEAL CRISP FLAKES CLUSTER CEREAL HEA...,3,transFat,0.000
3,1,"General Mills, Inc.",2,SUGAR,16000275393,3,Oatmeal Raisin Crisp,GMILLS OATMEAL CRISP FLAKES CLUSTER CEREAL HEA...,4,cholesterol,0.000
4,1,"General Mills, Inc.",2,SUGAR,16000275393,3,Oatmeal Raisin Crisp,GMILLS OATMEAL CRISP FLAKES CLUSTER CEREAL HEA...,5,sodium,120.000
...,...,...,...,...,...,...,...,...,...,...,...
11690,10,"Conagra Brands, Inc.",192,FOLIC ACID AND CYANOCOBALAMIN (VITAMIN B12).,64144080328,13,Maypo,"VERMONT STYLE MAPLE INSTANT OATMEAL, VERMONT S...",9,protein,5.010
11691,10,"Conagra Brands, Inc.",192,FOLIC ACID AND CYANOCOBALAMIN (VITAMIN B12).,64144080328,13,Maypo,"VERMONT STYLE MAPLE INSTANT OATMEAL, VERMONT S...",10,calcium,150.000
11692,10,"Conagra Brands, Inc.",192,FOLIC ACID AND CYANOCOBALAMIN (VITAMIN B12).,64144080328,13,Maypo,"VERMONT STYLE MAPLE INSTANT OATMEAL, VERMONT S...",11,iron,14.400
11693,10,"Conagra Brands, Inc.",192,FOLIC ACID AND CYANOCOBALAMIN (VITAMIN B12).,64144080328,13,Maypo,"VERMONT STYLE MAPLE INSTANT OATMEAL, VERMONT S...",12,potassium,150.000
11694,10,"Conagra Brands, Inc.",192,FOLIC ACID AND CYANOCOBALAMIN (VITAMIN B12).,64144080328,13,Maypo,"VERMONT STYLE MAPLE INSTANT OATMEAL, VERMONT S...",13,calories,180.000

In [52]:
# rename amount
merge_df_5 = merge_df_5.rename(columns={"amount": "nutrientamount"})
merge_df_5

,manufacturerid,manufacturername,ingredientid,ingredientname,upc,rank,cerealtname,description,nutrientid,nutrientname,nutrientamount
0,1,"General Mills, Inc.",2,SUGAR,16000275393,3,Oatmeal Raisin Crisp,GMILLS OATMEAL CRISP FLAKES CLUSTER CEREAL HEA...,1,fat,2.500
1,1,"General Mills, Inc.",2,SUGAR,16000275393,3,Oatmeal Raisin Crisp,GMILLS OATMEAL CRISP FLAKES CLUSTER CEREAL HEA...,2,saturatedFat,0.502
2,1,"General Mills, Inc.",2,SUGAR,16000275393,3,Oatmeal Raisin Crisp,GMILLS OATMEAL CRISP FLAKES CLUSTER CEREAL HEA...,3,transFat,0.000
3,1,"General Mills, Inc.",2,SUGAR,16000275393,3,Oatmeal Raisin Crisp,GMILLS OATMEAL CRISP FLAKES CLUSTER CEREAL HEA...,4,cholesterol,0.000
4,1,"General Mills, Inc.",2,SUGAR,16000275393,3,Oatmeal Raisin Crisp,GMILLS OATMEAL CRISP FLAKES CLUSTER CEREAL HEA...,5,sodium,120.000
...,...,...,...,...,...,...,...,...,...,...,...
11690,10,"Conagra Brands, Inc.",192,FOLIC ACID AND CYANOCOBALAMIN (VITAMIN B12).,64144080328,13,Maypo,"VERMONT STYLE MAPLE INSTANT OATMEAL, VERMONT S...",9,protein,5.010
11691,10,"Conagra Brands, Inc.",192,FOLIC ACID AND CYANOCOBALAMIN (VITAMIN B12).,64144080328,13,Maypo,"VERMONT STYLE MAPLE INSTANT OATMEAL, VERMONT S...",10,calcium,150.000
11692,10,"Conagra Brands, Inc.",192,FOLIC ACID AND CYANOCOBALAMIN (VITAMIN B12).,64144080328,13,Maypo,"VERMONT STYLE MAPLE INSTANT OATMEAL, VERMONT S...",11,iron,14.400
11693,10,"Conagra Brands, Inc.",192,FOLIC ACID AND CYANOCOBALAMIN (VITAMIN B12).,64144080328,13,Maypo,"VERMONT STYLE MAPLE INSTANT OATMEAL, VERMONT S...",12,potassium,150.000
11694,10,"Conagra Brands, Inc.",192,FOLIC ACID AND CYANOCOBALAMIN (VITAMIN B12).,64144080328,13,Maypo,"VERMONT STYLE MAPLE INSTANT OATMEAL, VERMONT S...",13,calories,180.000

In [53]:
# rename columns in allergy
df_allergy = df_allergy.rename(columns={"name": "allergyname", "type": "allergytype", "origin": "foodorigin"})
df_allergy

,allergyname,ingredientid,allergytype,foodgroup,foodorigin
1,Sugar Allergy / Intolerance,97,Vegetable,Sugar source,Plant origin
2,Honey Allergy,67,Bee product,Bee product,Animal origin
3,Rice Allergy,151,Cereal grain and pulse,Cereal grain,Plant origin
4,Gluten Allergy,165,Cereal grain and pulse,Cereal grain,Plant origin
5,Milk allergy / Lactose intolerance,236,Dairy,Dairy,Animal origin

In [54]:
# Merge allergy and merge_df_4
merge_df_6 = pd.merge(df_allergy, merge_df_5, on="ingredientid", how="outer")
merge_df_6

,allergyname,ingredientid,allergytype,foodgroup,foodorigin,manufacturerid,manufacturername,ingredientname,upc,rank,cerealtname,description,nutrientid,nutrientname,nutrientamount
0,Sugar Allergy / Intolerance,97,Vegetable,Sugar source,Plant origin,1,"General Mills, Inc.",FRUCTOSE,16000161795,10,Cocoa Puffs,COCOA PUFFS,1,fat,1.50
1,Sugar Allergy / Intolerance,97,Vegetable,Sugar source,Plant origin,1,"General Mills, Inc.",FRUCTOSE,16000161795,10,Cocoa Puffs,COCOA PUFFS,2,saturatedFat,0.00
2,Sugar Allergy / Intolerance,97,Vegetable,Sugar source,Plant origin,1,"General Mills, Inc.",FRUCTOSE,16000161795,10,Cocoa Puffs,COCOA PUFFS,3,transFat,0.00
3,Sugar Allergy / Intolerance,97,Vegetable,Sugar source,Plant origin,1,"General Mills, Inc.",FRUCTOSE,16000161795,10,Cocoa Puffs,COCOA PUFFS,4,cholesterol,0.00
4,Sugar Allergy / Intolerance,97,Vegetable,Sugar source,Plant origin,1,"General Mills, Inc.",FRUCTOSE,16000161795,10,Cocoa Puffs,COCOA PUFFS,5,sodium,150.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11690,NaN,192,NaN,NaN,NaN,10,"Conagra Brands, Inc.",FOLIC ACID AND CYANOCOBALAMIN (VITAMIN B12).,64144080328,13,Maypo,"VERMONT STYLE MAPLE INSTANT OATMEAL, VERMONT S...",9,protein,5.01
11691,NaN,192,NaN,NaN,NaN,10,"Conagra Brands, Inc.",FOLIC ACID AND CYANOCOBALAMIN (VITAMIN B12).,64144080328,13,Maypo,"VERMONT STYLE MAPLE INSTANT OATMEAL, VERMONT S...",10,calcium,150.00
11692,NaN,192,NaN,NaN,NaN,10,"Conagra Brands, Inc.",FOLIC ACID AND CYANOCOBALAMIN (VITAMIN B12).,64144080328,13,Maypo,"VERMONT STYLE MAPLE INSTANT OATMEAL, VERMONT S...",11,iron,14.40
11693,NaN,192,NaN,NaN,NaN,10,"Conagra Brands, Inc.",FOLIC ACID AND CYANOCOBALAMIN (VITAMIN B12).,64144080328,13,Maypo,"VERMONT STYLE MAPLE INSTANT OATMEAL, VERMONT S...",12,potassium,150.00
11694,NaN,192,NaN,NaN,NaN,10,"Conagra Brands, Inc.",FOLIC ACID AND CYANOCOBALAMIN (VITAMIN B12).,64144080328,13,Maypo,"VERMONT STYLE MAPLE INSTANT OATMEAL, VERMONT S...",13,calories,180.00

In [55]:
merge_df_6.to_csv('C:/Users/tearo/Desktop/csci 5707 project/merged_file.csv',  index=False)